.navbar-inverse {
  background-color: #046D8B;
  border-color: #046D8B;
}

.navbar-inverse .navbar-brand {
	color: #3Fc8bC;
  font-weight: bold;
}

.navbar {
	border-radius: 0px
}

.navbar-inverse .navbar-nav>li>a {
  color: #3Fc8bC;
  font-weight: bold;
 }

 .navbar-inverse .navbar-nav>li>a:focus, 
 .navbar-inverse .navbar-nav>li>a:hover {
  color: #ECBE13;
 }

 h1, h2, h3, h4 {
 	color: #046D8B;
 	font-weight: bold;
 }

 footer {
 	background-color: #3Fc8bC;
 	padding: 1em 1em .5em 2em;
 	margin: 1em -1.5em 0em -1.5em;
 	font-weight: bold
 }
 
 .jumbotron {
  background: url(http://colourlovers.com.s3.amazonaws.com/images/patterns/4781/4781818.png) repeat-x #2FB8AC;
  background-position: bottom;
  color: #043D6B;
}

.btn-success {
  background-color: #046D8B;
  border: 3px solid #fCcE23;
  color: #fCcE23;
}
